<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Charts and Shot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
</head>
<body>
    <header>Welcome to NBAViz - your one-stop, step-back, hesi pullup jimbo for shot chart visualizations from players in the National Basketball Association.</header>
    <div>
        <figure id="opening" class="intro">
            <img src="static/img/titleLmao.png">
        </figure>
    </div>
    <p>
        <a href="harden">James Harden Shot Chart</a>
    </p>
</body>
</html>